{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 3.0332554,
    "longitude": -75.2794303,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Casa",
    "time_zone": "America/Bogota",
    "external_url": null,
    "internal_url": null,
    "currency": "COP",
    "country": "CO",
    "language": "es",
    "radius": 100
  }
}